.Searchbar{
   background-color: white;
    padding: 50px 0px 50px 0px;
  .content_align_search{
   
   
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .input_search{
      max-width: 500px;
      min-width: 150px;
  }
.button_send_search, .input_search{
  margin: auto;
}
}
